<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Annotator | Home</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section class="form-section">
        <div class="form-container">
            <div class="form">
                <h1 class="form-heading">Select Annotation Category</h1>
                <button id="nerBtn" class="option-btn" style="vertical-align:middle"><span>Named Entity Recognition</span></button>
                <button id="saBtn" class="option-btn" style="vertical-align:middle"><span>Sentiment Analysis</span></button>
                <button id="backButton" onclick="goBack()">Back</button>
            </div>
        </div>  
    </section>   
    <script src="js/home.js"></script> 
</body>
</html>
