body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #f4f4f4;
  }

.container {
    display: flex;
    width: 80%;
    margin-top: 20px;
  }
  .left-side, .right-side {
    flex: 1;
    padding: 20px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    height: 90vh;
    width: 300px;
  }
  .middle {
    width: 115px; /* Adjust width as needed */
    display: flex;
    background: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px #333 solid;
    border-radius: 5px;
    margin: 10px;
    
  }
  .annotation-btn{
    display: block;
    margin: 20px 10px;
    width: 82px;
    padding: .8rem 0;
    border-radius: 10px;
  }
  .annotation-panel {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    overflow-y: auto;
    height: 43%;
  }
  #annotated-document{
    height: 90%;
  }
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .save{
    justify-content: center;
  }
  .save button{
    margin: 0 30px;
  }
  .button-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .button-container button:hover {
    background-color: #0056b3;
  }
  .annotation-panel p {
    margin: 0;
    line-height: 1.5;
  }
  #backButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 30px;
    border-radius: 5px;
}
#backButton.hover {
  background-color: #0056b3;
}
.highlight {
  background-color: yellow; /* Change to the desired highlight color */
  font-weight: bold; /* Change to the desired highlight font weight */
}

/* Add styling for logout button */
#logoutButton {
  position: absolute; 
  text-decoration: none;
  bottom: 20px; 
  right: 30px;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  background-color: #dc3545; /* Red color, you can change it as needed */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#logoutButton:hover {
  background-color: #c82333; /* Darker red color on hover */
}

